h1
{
	color: black;
	font-size: 45px;
}
		
/*Styling the body element*/
body
{
	background-color: grey;
	font-family: Verdana;
	text-align: center;
}
/*Styling the form*/	
form		
{
	background-color: #fff;
	max-width: 500px;
	margin: 50px auto;
	padding: 30px 20px;
	box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
}

/*Styling form-control class*/
.form-control
{
	text-align: left;
	margin-bottom: 25px;
}

/*Styling form-control label*/
.form-control label
{
	display: block;
	margin-bottom: 10px;
}

/*Styling form-control input, select, textarea*/
.form-control input,
.form-control select,
.form-control textarea
{
	border: 1px solid #777;
	border-radius: 2px;
	font-family: inherit;
	padding: 10px;
	display: block;
	width: 95%;
}

/*Styling form-control Radio button & Checkbox*/
.form-control input[type="radio"],
.form-control input[type="checkbox"]
{
	display: inline-block;
	width: auto;
}

/*Styling Button*/
button
{
	background-color: green;
	border: 1px solid #777;
	border-radius: 2px;
	font-family: inherit;
	font-size: 21px;
	display: block;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
}

/*Styling radio-option input*/
.radio-option input[type="radio"]
{
	align-items: center;
}

/*Styling radio-option label*/
.radio-option label
{
	opacity: 0.4;
}
